################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Crista/FileContentIndex
/.vs/slnx.sqlite
/.vs/Crista/config/applicationhost.config
/.vs/Crista/v17/.wsuo
