################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Crista/FileContentIndex/3b602bc6-088e-4e72-b97e-e3d5f1d6378e.vsidx
/.vs/Crista/FileContentIndex/fb0158ab-a102-4bb3-9026-f52a381f24f6.vsidx
/.vs/Crista/FileContentIndex
